#main {
	max-width: 800px;
	margin: auto;
}

#main,

#workExperience,
#projects,
#education,
#lets-connect,
h2,
h3 {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Karla', sans-serif;
	width: 100%;
}

.work-entry {
	width: 100%;
}

.project-entry {
	width: calc((100% - 20px) / 3);
	margin-right: 10px;
}

.project-entry:last-of-type {
	margin-right: 0;
}

.education-entry {
	width: 50%;
}

#map {
   height: 100%;
 }

#mapDiv {
    height: 400px;
    width: 100%;
}

ul {
    list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}


.clear-fix {
    overflow: auto;
}

h1 {
    font-size: 40px;
    color: rgb(184, 227, 210);
    line-height: 48px;
    display: inline;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    color: rgb(184, 227, 210);
    display: none;
}

.green {
    background-color: rgb(184, 227, 210);
}

.green-text {
    color: rgb(184, 227, 210);
}

.white-text {
    font-weight: bold;
    color: rgb(245, 245, 221);
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
    background-color: rgb(25, 85, 158);
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    };
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    };
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}